@use 'sass:map';
@import '../../../content/scss/custom-variables.scss';

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .desc {
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    font-weight: 400;
  }

  .step0 {
    .image {
      margin-bottom: 1.5rem;

      img {
        border-radius: 0.5rem;
        width: 100%;
        height: 18rem;
      }
    }
  }

  .button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    button {
      width: 100%;
      height: 3rem;
      border-radius: 0.5rem;
      background-color: $primary;
      color: white;
      font-size: 1.125rem;
      font-weight: 400;
      border: none;
      padding: 0;
      cursor: pointer;

      &:hover {
        background-color: $primary-dark;
      }
    }
  }

  .phase {
    margin-top: 1.5rem;

    .tirer {
      background-color: black;
      width: 1.5rem;
      height: 0.5rem;
    }

    .title {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1.5rem;
    }

    .text {
      font-size: 2rem;
      line-height: normal;
      font-weight: 600;
      margin-bottom: 0.5rem;

      .tooltip .tooltip-inner {
        background-color: #00205a;
        color: white;
        font-size: 2rem;
        padding: 0.5rem;
        --bs-tooltip-max-width: 1;
        height: fit-content;

        &.bs-tooltip-end .tooltip-arrow::before {
          border-right-color: #00205a;
        }

        &.bs-tooltip-start .tooltip-arrow::before {
          border-left-color: #00205a;
        }

        &.bs-tooltip-top.tooltip-arrow::before {
          border-top-color: #00205a;
        }

        &.bs-tooltip-bottom .tooltip-arrow::before {
          border-bottom-color: #00205a;
        }
      }
    }

    .duree,
    .trace {
      font-size: 1.125rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }

    .trace {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .trace-img {
        margin-right: 1rem;

        img {
          border: none !important;
          width: 2rem;
        }
      }
    }
  }

  .step1 {
    .image {
      margin: 1.5rem 0;

      img {
        border: 3px solid $primary;
        border-radius: 0.5rem;
        width: 100%;
        background-color: white;
      }
    }

    .img {
      img {
        width: 100%;
      }
    }
  }

  .ligne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    background-color: #d6e5f2;
    border-radius: 0.5rem;
    padding: 1rem;

    img {
      border-radius: 0.5rem;
    }
  }

  .cup {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.cupping-icon {
  height: 3.5rem;
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;

  &.cup-icon {
    background: url('../../../content/images/cupping.png') no-repeat center top;
    background-size: 100%;
  }

  &.info-icon {
    background: url('../../../content/images/info.jpg') no-repeat center top;
    background-size: 100%;
    cursor: pointer;
    height: 2.5rem;
  }
}

.timer {
  display: flex;
  justify-content: center;
}

.timer-icon {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  cursor: pointer;

  &.play-icon {
    background: url('../../../content/images/play.svg') no-repeat center top;
    background-size: 100%;
  }

  &.pause-icon {
    background: url('../../../content/images/pause.svg') no-repeat center top;
    background-size: 100%;
  }

  &.stop-icon {
    background: url('../../../content/images/stop.svg') no-repeat center top;
    background-size: 100%;
  }

  *:hover {
    opacity: 0.8;
  }
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media screen and (max-width: calc(map.get($grid-breakpoints, 'md') - 1px)) {
  .detail {
    padding: 0.5rem !important;

    .step0,
    .step1,
    .step2 .step3,
    .step4 {
      padding: 0 !important;

      .image {
        margin-bottom: 0.5rem !important;

        img {
          border-radius: 0.5rem;
          width: 100%;
          height: 20rem;
        }
      }
    }
  }

  .cup {
    background: url('../../../content/images/login-bg.jpeg') no-repeat center top;
    background-size: contain;
  }

  .title {
    font-size: 1.25rem !important;
  }

  .desc,
  .btn {
    font-size: 1rem !important;
  }

  .phase {
    margin-top: 1rem !important;

    .title {
      font-size: 0.875rem !important;
      margin-top: 1rem !important;
    }

    .text {
      font-size: 1.25rem !important;
      margin-bottom: 0.5rem !important;
    }

    .duree,
    .trace {
      font-size: 1rem !important;
      margin-bottom: 1rem !important;
    }
  }

  .timer {
    .countdown-timer {
      width: 7rem !important;
      height: 7rem !important;
      border: 0.125rem solid #00205a !important;

      .time {
        font-size: 1.125rem !important;
        margin-bottom: 0.625rem;
        color: $primary;
      }
    }
  }

  .timer-icon {
    height: 1.25rem !important;
    width: 1.25rem !important;
  }

  .ligne {
    margin: 0.5rem 0 !important;
    padding: 0.5rem !important;

    .desc {
      margin-top: 0.25rem;
    }
  }
}
