.protos {
  display: flex;
  justify-content: center;

  .label {
    font-size: 1.75rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
    color: black;
    border-radius: 0.275rem;
    line-height: 1.5rem;
  }

  .protocols {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .protocol {
      padding: 0.5rem;
      margin-bottom: 1rem;
      min-width: 15rem;
      height: 18rem;
    }
  }
}

/* ==========================================================================
Main page styles
========================================================================== */

.cup {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../../content/images/auth.jpg') no-repeat center top;
  background-size: contain;
}
