@use 'sass:map';
@import '../../../content/scss/custom-variables.scss';

.register {
  position: relative;
  top: -4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  min-height: 60vh;
  background-color: white;
  padding: 2rem;
}

.video {
  height: 25rem;
}

.hide-step {
  display: none;
}

.form-label {
  margin-bottom: 0.125rem;
}

.sexRadios {
  margin-top: 1.5rem;
  display: flex;
  justify-content: start;

  .sexRadio:first-child {
    margin-right: 1.5rem;
  }

  .form-check-label {
    margin-right: 1.5rem;
  }
}

.cup {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url('../../../content/images/login-bg.jpeg') no-repeat center top;
  background-size: cover;
  border-radius: 1rem;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .cup {
    background: url('../../../content/images/login-bg.jpeg') no-repeat center top;
    background-size: contain;
  }
}
