<div class="login d-flex justify-content-center">
  <div class="row col-12 col-lg-8 d-flex justify-content-center">
    <div class="info col-md-6 col-sm-10 mb-2">
      <div class="logo d-flex justify-content-center">
        <span class="logo-img"></span>
      </div>

      <form class="form pt-2 pt-lg-4" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
          <span>
            <strong>{{ 'login.messages.error.authentication.err' | translate }}</strong>
          </span>
          <span>
            {{ 'login.messages.error.authentication' | translate }}
          </span>
        </div>
        <div class="mb-2 mb-md-4">
          <label class="username-label mb-md-2" for="username">{{ 'global.form.email.label' | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="mb-2 mb-md-3">
          <label for="password" class="mb-md-2">{{ 'login.form.password' | translate }}</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            formControlName="password"
            data-cy="password"
          />
        </div>
        <div class="check-pwd d-flex justify-content-between mb-2 mb-md-3">
          <div class="form-check">
            <label class="form-check-label" for="rememberMe">
              <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
              <span>{{ 'login.form.rememberme' | translate }}</span>
            </label>
          </div>
          <div>
            <a class="alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">
              {{ 'login.password.forgot' | translate }}
            </a>
          </div>
        </div>

        <button type="submit" class="btn btn-primary submit mb-2 mb-md-3" data-cy="submit">{{ 'login.form.button' | translate }}</button>
        <div class="noaccount">
          <span>{{ 'global.messages.info.register.noaccount' | translate }}</span>
          <a class="alert-link" routerLink="/account/register">
            {{ 'global.messages.info.register.link' | translate }}
          </a>
        </div>
      </form>
    </div>
    <div class="img col-md-6">
      <span class="cup img-fluid rounded"></span>
    </div>
  </div>
</div>
