<div class="d-flex flex-column">
  <div class="head col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 mb-2">
    <div class="success-content text-center">
      <h1 class="title">Thank you.</h1>
      <div class="alert alert-success mb-4">
        <p class="lead w-lg-50 mx-auto">Votre commande a bien été enregistrée.</p>
        <p class="w-lg-50 mx-auto">
          Votre numéro de commande est <a href="#">{{ transactionId }}</a
          >. nous traiterons immédiatement votre commande et elle sera livrée dans les 2 à 5 jours ouvrables.
        </p>
      </div>
      <!-- 
                  <div class="mb-4" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="link" routerLink="/myprotocols">
                              <span>
                                    afficher mes protocoles
                              </span>
                        </a>
                  <div> -->
    </div>
  </div>
  <div class="video col-12">
    <app-video></app-video>
  </div>
</div>
